/*todas estas clases son inventadas por mi*/

.banner-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

